test/out
test/idl/constants.thrift
target/
*.iml
.idea
*.pyc


# Do not commit the following directories created by pub.
.buildlog
.pub/
build/
packages
.packages

# Or the files created by dart2js.
*.dart.js
*.js_
*.js.deps
*.js.map

pubspec.lock

# Ignore generated code and cross results
skynet.Dockerfile

# python specific
.python_version
*.pyc
.coverage
.build/
.ropeproject/
coverage_html/
unit_tests.xml
lib/python/frugal.egg-info/
lib/python/frugalc
lib/python/dist
Library/

# Integration tests
test/integration/log/*
test/integration/results.json
test/integration/*/gen*
test/integration/go/bin/*
test/integration/java/frugal-integration-test/gen-java
test/integration/java/frugal-integration-test/frugal
test/integration/java/frugal.jar
