<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
          <id>workiva-release</id>
          <username>${env.ARTIFACTORY_USER}</username>
          <password>${env.ARTIFACTORY_PASS}</password>
        </server>
        <server>
          <id>stx-nexus</id>
          <username>${ARTIFACTORY_USER}</username>
          <password>${ARTIFACTORY_PASS}</password>
        </server>
        <server>
          <id>wf-thirdparty</id>
          <username>${ARTIFACTORY_USER}</username>
          <password>$ARTIFACTORY_PASS}</password>
        </server>
        <server>
          <id>wf-developer</id>
          <username>${ARTIFACTORY_USER}</username>
          <password>${ARTIFACTORY_PASS}</password>
        </server>
        <server>
          <id>snapshots</id>
          <username>${ARTIFACTORY_USER}</username>
          <password>${ARTIFACTORY_PASS}</password>
        </server>
        <server>
          <id>releases</id>
          <username>${ARTIFACTORY_USER}</username>
          <password>${ARTIFACTORY_PASS}</password>
        </server>
        <server>
          <id>nexus-cache</id>
          <username>${ARTIFACTORY_USER}</username>
          <password>${ARTIFACTORY_PASS}</password>
        </server>
        <server>
          <id>wf-nexus-2018</id>
          <username>${ARTIFACTORY_USER}</username>
          <password>${ARTIFACTORY_PASS}</password>
        </server>
        <server>
          <id>workiva-dev</id>
            <username>${ARTIFACTORY_USER}</username>
            <password>${ARTIFACTORY_PASS}</password>
        </server>
    </servers>
</settings>
