backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
certifi==2016.2.28
#-e git+git@github.com:Workiva/frugal.git@9e4e116c07370c059cc97d0bad6600db588bbbe8#egg=frugal&subdirectory=../../workiva/frugal/lib/python
singledispatch==3.4.0.3
six==1.10.0
thrift==0.9.3
nats-client==0.2.4
